/*GLOBAL*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono';
    background-color: rgb(65, 65, 65);
}

/*HEADER*/
header{
    background-color: rgb(35, 35, 35);
    color: white;
    padding: 5px;
    border-bottom: 5px solid rgb(27, 138, 92); 
}

header span{
    color: rgb(27, 138, 92);
}

header .top{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header .top .link a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 800;
}

/*MAIN*/
main .container{
    position: relative;
}

#erro-login-email{
    border-bottom: 4px solid rgb(255, 115, 115);
    border-radius: 10px;

    margin: auto;
    margin-top: 20px;

    width: 450px;
    height: 50px;
    background-color: rgb(36, 36, 36);

    color: white;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#erro-login-email h4{
    color: rgb(255, 115, 115);
}

main .card{
    width: 400px;
    height: 500px;
    
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 20px;
    border-radius: 10px;
    border-bottom: 5px solid rgb(27, 138, 92); 
    display: block;
    align-items: center;
    justify-content: center;

    position: fixed;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

main .content input{
    margin-top: 5px;
    margin-bottom: 15px;
    width: 250px;
    padding: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgb(27, 138, 92); 
    color: white;
}

main .content input::placeholder{
    color: rgb(255, 255, 255);
}


main .content label{
    color: rgb(27, 138, 92); 
     font-weight: 600;
}

main .content .enviar input{
    width: 100px;
    padding: 5px;
    float: right;
    cursor: pointer;
    background-color: rgb(27, 138, 92);  
    color: white;
    border-radius: 5px;
    border: none;
}

main .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .bottom .cadastrar a{
    color: white;
}